// |===========================================================================|
// |--------------------------| Paramètres du site |---------------------------|
// |===========================================================================|

// --------- Couleur du site ---------

$color-primary: #ffffff;
$color-secondary: #2C3E50;
$color-tr: #00BC77;
$color-td: #12002B;

// --------- Nuance du site ----------

$hover-btn: #00a568;

// --------- Nuance shadows ----------


// --------- Nuance border -----------


// --------- Nuance police -----------

$color-police-main: #575757;

// --------- Police du site ----------


// ------- Mixins et variables -------


// ---------- Responsive ------------

// Mobile version
$xs: 620px;

// ------- Ajustement du site --------

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
}

p,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

// ------- Style scrollbar --------

// ::-webkit-scrollbar {
//     width: 0.4em;
// }

// ::-webkit-scrollbar-track {
//     background: hsl(0, 0%, 13%);
// }

// ::-webkit-scrollbar-thumb {
//     background: hsl(0, 0%, 20%);

//     &:hover {
//         background: hsl(0 0% 60% / 0.5);
//     }
// }