// |===========================================================================|
// |--------------------------| Paramètres du site |---------------------------|
// |===========================================================================|

// --------- Couleur du site ---------

$color-primary: #ffffff;
$color-secondary: #2C3E50;
$color-tr: #00BC77;

// --------- Nuance du site ----------

// $color-white: #ffffff;
// $color-black: #000000;
// $background-header: #2020206c;
// $background-btn: #d1d1d110;
// $profil-card-background: #1f1f1f;

// --------- Nuance shadows ----------

// $shadow-light-grey: #ffffff;
// $shadow-lightgrey-nav: #5c5c5c50;
// $shadow-darkgrey: #7e7e7e79;

// --------- Nuance border -----------

// $border-light-grey: #d4d4d433;
// $border-btn-after: #dddddd96;

// --------- Nuance police -----------

$color-police-main: #575757;

// --------- Police du site ----------



// ------- Mixins et variables -------




// ---------- Responsive ------------

// Small Mobile version
// $xs: 380px;

// Mobile version
// $sm: 490px;

// Large Mobile / Small tablet version
// $md: 700px;

// Tablet Version
// $lg: 1020px;

// Small desktop Version
// $xl: 1210px;

// Desktop Version
// $xxl: 1504px;

// ------- Ajustement du site --------

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
}

p,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

// ------- Style scrollbar --------

// ::-webkit-scrollbar {
//     width: 0.4em;
// }

// ::-webkit-scrollbar-track {
//     background: hsl(0, 0%, 13%);
// }

// ::-webkit-scrollbar-thumb {
//     background: hsl(0, 0%, 20%);

//     &:hover {
//         background: hsl(0 0% 60% / 0.5);
//     }
// }