// |===========================================================================|
// |------------------------------| Home Style |-------------------------------|
// |===========================================================================|

@import "../../styles/settings.scss";

// =============================================================================

.section-homepage {


    .bloc-card-infos {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        @media (max-width: $xs) {

            flex-direction: column;
        }
    }
}